@import '_variables.scss';

/* mixins */

@mixin window {
    @include boxSize;
    border: 3px solid $color-2;
    border-top-width: 4px;
    background-color: $color-1;
    padding: $spacing-medium;
    vertical-align: top;
    color: #000;

    h1 {
        color: $color-text-header;
        font-weight: bold;
        margin-top: 0;
    }
}

@mixin overlay {
  // mobile first, override in custom inheriting classes
  // what the desktop / tablet views should look like

  position: fixed;
  z-index: 500;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .header {
    width: 100%;
    display: inline-block;

    h2 {
      float: left;
      margin: 0;
    }

    .close-button {
      position: absolute;
      top: $spacing-medium;
      right: $spacing-large;
      cursor: pointer;
      background-color: $color-1;
    }
  }
}

/* Layout */

html, body {
  overscroll-behavior-x: none; /* disable navigation back/forward swipe on Chrome */
}

body {
    background-color: #000;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.tab-list {
  display: inline-block;
  margin: $spacing-medium 0 0;

  li {
    display: inline-block;
    border: 1px solid #666;
    border-bottom: 1px solid #393b40;
    margin-bottom: -1px; /* makes it essentially appear "bottom-less" due to border-bottom colour over background */
    padding: $spacing-small $spacing-medium;
    cursor: pointer;
    background-color: #666;
    font-size: 90%;
    font-weight: bold;
    border-right: 2px solid #444;

    &.active {
      background-color: transparent;
      color: #FFF;
      position: relative;
    }

    &:first-child {
      border-top-left-radius: $spacing-medium;
    }
  }
}
