@import '_variables';

.rpg-fieldset {
    @include boxSize();
    padding: $spacing-medium $spacing-large;
    display: inline-block;
    border: 3px solid $color-4;
    border-top-width: 4px;
    border-radius: 7px;
    text-align: left;
    color: #FFF;

    .input {
        margin: $spacing-medium 0;

        label {
            display: inline-block;
            width: 120px;
            font-size: 18px;
        }

        input[type=text] {
            @include boxSize();
            display: inline-block;
            padding: $spacing-medium;
            font-size: 14px;
            border-radius: 7px;
        }

        @include mobile() {
            label, input[type=text] {
                width: 50%;
            }
        }
    }
}

.rpg-button--submit {
    display: block;
    margin: $spacing-medium $spacing-large;
}
